.cards__search {
    display: flex;
}

.cards__search > div:first-child {
    flex: 1 1 auto;
    margin-right: 25px;
}

.cards__search input {
    width: 460px;
    background: #ececf9 !important;
    color: #000 !important;
}

.cards__search input:focus {
    background: #fff !important;
}

.cards__search > div {
    margin: 0;
    height: 40px;
}

.cards__search button {
    margin: 0;
    height: 40px;
}