.input[type="text"] {
    box-sizing: border-box;
    min-width: 100px;
    height: 40px;
    padding: 0.5em 0.8em 0.2em 1em;
    border: 2px solid #000;
    border-radius: 2em;
    background: #fff;
    resize: none;
    outline: none;
}
.input[type="text"]:focus {
    border: 2px solid transparent;
    box-shadow: 0 0 0 3px #000;
}

.errorInput[type="text"] {
    border: 2px solid red;
    background: #fff;
}

.error {
    width: 100%;
    color: red;
    font-size: 0.8em;
    margin: -10px 0 0 6% !important;
}