
.packs__container {
    height: 100%;
    padding: 18px 36px;
}

.packs__block {
    margin-bottom: 10px;
}

.packs__block:last-child {
    display: flex;
    margin-bottom: 0;
}

.packs__search {
    display: flex;
}

.packs__search > div:first-child {
    flex: 1 1 auto;
}

.packs__search input {
    width: 250px !important;
    background: #ececf9 !important;
    color: #000 !important;
}

.packs__search input:focus {
    background: #fff !important;
}

.packs__search > div {
    margin: 0;
    height: 40px;
}

.packs__search button {
    margin: 0;
    height: 40px;
}