.text {
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding-bottom: 20px;
    color: #636363;
}

.checkbox {
    margin: 0 40px;
}

.forgot {
    position: absolute;
    bottom: -10px;
    right: 20px;
    font-weight: bold;
    transition: .3s;
}

.error {
    position: absolute;
    top: 45px;
    left: 70px;
}