.headerElement {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}
.header {
    width: 100%;
    height: 70px;
    position: fixed;
    // .header__container
    &__container {
        margin: 0 auto;
        padding: 5px 0;
        display: flex;
    }
    // .header__nav
    &__nav {
        flex: 1 1 auto;
        display: flex;
    }
    // .header__logo
    &__text {
        padding: 14px 10px 6px;
    }
}

.backgroundImage {
    background-image: url("../../src/p4-assets/bgpaper.jpeg");
    background-repeat: repeat;
}


