h1 {
	font-weight: 900;
	font-size: 45px;
}

h2 {
	font-weight: bold;
	font-size: 35px;
}

h3 {
	font-weight: bold;
	font-size: 25px;
}

h4 {
	font-weight: normal;
	font-size: 20px;
}

.title {
	margin-bottom: 30px;
}

.text {
	color: #000;
	font-size: 18px;
	line-height: 25 / 20 * 100%;
	text-indent: 30px;
	margin-bottom: 10px;

	p {
		padding: 0 0 10px 0;
	}

	:last-child {
		padding: 0;
	}

	@media (max-width: $md3+px) {
		font-size: 18px;
		line-height: 22 / 18 * 100%;
	}
	@media (max-width: $md4+px) {
		font-size: 15px;
		line-height: 20 / 15 * 100%;
	}
}

.field {
	height: 75px;
	width: 100%;
}

.paperCard1 {
	border-radius: 3px;
	box-shadow: 0 0 10px 3px $secondary;
	background-image: url("../../src/p4-assets/bgpaper.jpeg");
	background-repeat: repeat;
}

.paperCard2 {
	border-radius: 3px;
	box-shadow: 0 0 10px 3px $secondary;
	background-image: url("../../src/p4-assets/bgpaper2.jpg");
	background-repeat: repeat;
}

.paperCard3 {
	border-radius: 10px;
	box-shadow: 0 0 10px 3px $secondary;
	background-image: url("../../src/p4-assets/bgpaper2.jpg");
	background-repeat: repeat;
	background-size: 600px;
}

.shadowed {
	box-shadow: 0 0 10px 3px $secondary;
}

.preloader {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $secondary;
	// .preloader__container
	&__container {
		position: absolute;
		width: 25%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		opacity: 0;
		animation: pl__fade 1s forwards 1 ;
		img {
			animation: appLogoSpin  infinite 1.5s 1.5s running;
		}

	}
}

@keyframes pl__fade {
	100% {
		opacity: 1;
	}
}

@keyframes appLogoSpin {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	27% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

